.headercontent{
    color: white;
    /* text-align: center; */
    font-family: 'Questrial', sans-serif;
}
.name{
    font-size: 6rem;
    font-weight: bolder;  
    color: white;
    font-family: 'Mulish', sans-serif;
}
.thedev{
    font-size:clamp( 2vw , 2vw + .5rem, 2.5rem);
    margin: 1.5rem 10rem;
    display: flex;
    gap: 10px;
    /* text-align: center; */
    font-family: 'Questrial', sans-serif;
}
@media screen and (max-width:480px) {
    
    .thedev{
        font-size:clamp( 3vw , 3vw + .5rem, 2.5rem);
        width: 10.5rem;
        text-align: center;
    }
    .headercontent{
        color: white;
        display: flex;
        text-align: center;
        font-family: 'Questrial', sans-serif;
    }
}